<div class="container-fluid">
  <div class="row">
    <div class="offset-md-3 col-md-3">
      <h2 class="h1 font-weight-bold text-center py-3">Registrar rol</h2>
      <form>
        <input type="hidden" name="_id">
        <div class="form-group col-md-8 pl-0">
          <label class="font-weight-bold">Nombre del rol</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <button type="button" class="btn btn-primary">Registrar</button>
      </form>
    </div>
    <div class="col-md-3">
      <h2 class="h1 font-weight-bold text-center py-3">Listado de roles</h2>
      <table class="table">
        <thead class="bg-primary">
          <tr>
            <th scope="col" class="text-white">Nombre</th>
            <th scope="col" class="text-white">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
